# OS garbage
.DS_Store
[Dd]esktop.ini
[Tt]humbs.db

# Build output
/coverage/
/node_modules/
/lib/
/out/
/dist/
/.webpack/
/*.tgz

# Crash logs and backups
/*.log
*~
*.psd
assets/music/SPOILER_theme_01.mmpz
*.bak
