html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #202020;
    padding: 0;
    margin: 0;
}

#gameCanvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#gameCanvas:hover {
    cursor: none;
}

#gameCanvas:focus {
    outline: 0;
}

@media only screen and (min-width: 960px) and (min-height: 600px) {
    #gameCanvas {
        width: 960px;
        height: 600px;
    }
}

@media only screen and (min-width: 1440px) and (min-height: 900px) {
    #gameCanvas {
        width: 1440px;
        height: 900px;
    }
}
