html, body {
    padding: 0;
    margin: 0;
}

#background {
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#gameCanvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#gameCanvas:focus {
    outline: 0;
}

/* Update banner */

#update-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    background: #2A263C;
}

#update-banner .content {
    margin: 0 auto;
    max-width: 980px;
    padding: 20px;
}

#update-banner .headline {
    font-weight: 800;
    font-size: 15px;
}

#update-banner .subhead {
    font-size: 13px;
}

#update-banner[data-state="up-to-date"] {
    visibility: hidden;
    display: none;
}

#update-banner[data-state="update-available"] {
    visibility: visible;
    display: block;
    cursor: pointer;
    background: #26AE60;
}
