name: Build Game
on:
  push:
    branches:
    - '**'
    - '!gh-pages'
    tags:
    - 'v*.*.*'
  pull_request:
    branches:
    - main
    types:
    - opened
    - synchronize
    - reopened

env:
  NODE_ENV: development
  ARTIFACT_NAME: friendlyfiregame

jobs:

  build_webapp:
    name: Build Webapp
    runs-on: ubuntu-22.04
    env:
      DISPLAY: ':99.0'
    steps:
    - name: git checkout
      uses: actions/checkout@v4
    - uses: jwalton/gh-find-current-pr@v1
      id: pr
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Extract branch name
      if: ${{ github.event_name != 'pull_request' }}
      shell: bash
      run: echo "GIT_BRANCH_NAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> "${GITHUB_ENV}"
      id: extract_branch
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        architecture: x64
        node-version: '20'
    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.npm
        key: ${{ runner.os }}-${{ runner.arch }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-${{ runner.arch }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-${{ runner.arch }}-build-
          ${{ runner.os }}-${{ runner.arch }}-
    - name: Build
      run: npm ci
    - name: Test
      run: xvfb-run --auto-servernum npm test
    - name: Create distribition files
      run: npm run dist
    - name: Archive dist folder
      uses: actions/upload-artifact@v3
      with:
        name: webapp-dist
        path: dist
        if-no-files-found: error

  deploy_webapp:
    name: Deploy Webapp
    needs: build_webapp
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-22.04
    steps:
    - name: Download archived dist folder
      uses: actions/download-artifact@v3
      with:
        name: webapp-dist
        path: dist

    - name: Publish browser game
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./dist
        force_orphan: true
        cname: play.friendlyfiregame.com

  build_electron_app:
    needs: build_webapp
    name: Build Electron Apps
    runs-on: ${{ matrix.runner }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        include:
        - runner: windows-2022
          target_os: win32
          target_arch: x64
          experimental: false
        - runner: ubuntu-22.04
          target_os: linux
          target_arch: x64
          experimental: false
        - runner: ubuntu-22.04
          target_os: linux
          target_arch: arm64
          experimental: true
        - runner: macos-12
          target_os: darwin
          target_arch: x64
          experimental: false
        - runner: macos-12
          target_os: darwin
          target_arch: arm64
          experimental: true
    steps:
    - name: Retrieve Operating System Information from Builder
      id: build_info
      shell: bash
      env:
        RUNNER_OS: ${{runner.os}}
        RUNNER_ARCH: ${{ runner.arch }}
        TARGET_OS: ${{ matrix.target_os }}
        TARGET_ARCH: ${{ matrix.target_arch }}
      run: |
        echo "runner_os=$(echo "${RUNNER_OS}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
        echo "runner_arch=$(echo "${RUNNER_ARCH}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
        echo "target_os=${TARGET_OS}" >> $GITHUB_OUTPUT
        echo "target_arch=${TARGET_ARCH}" >> $GITHUB_OUTPUT
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Read version from package.json
      id: version
      uses: actions/github-script@v7
      with:
        script: return require("./package.json").version
        result-encoding: string
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        architecture: '${{steps.build_info.outputs.runner_arch}}'
        node-version: '18'
    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.npm
        key: ${{ runner.os }}-${{ runner.arch }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-${{ runner.arch }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-${{ runner.arch }}-build-
          ${{ runner.os }}-${{ runner.arch }}-
    - run: npm install
    - name: Create Electron game package
      env:
        NODE_ENV: production
      run: npm run package:${{steps.build_info.outputs.target_os}}-${{steps.build_info.outputs.target_arch}}
    - name: Fixup target folder name
      shell: bash
      env:
        TARGET_OS: ${{steps.build_info.outputs.target_os}}
        TARGET_ARCH: ${{steps.build_info.outputs.target_arch}}
      run: |
        if [ "${TARGET_OS}" == "darwin" ] || [ "${TARGET_OS}" == "win32" ]; then
          mv "./out/Friendly Fire-${TARGET_OS}-${TARGET_ARCH}" "./out/${ARTIFACT_NAME}-${TARGET_OS}-${TARGET_ARCH}"
        fi
    - name: Archive Electron game package
      id: create_archive
      shell: bash
      env:
        VERSION: ${{steps.version.outputs.result}}
        TARGET_OS: ${{steps.build_info.outputs.target_os}}
        TARGET_ARCH: ${{steps.build_info.outputs.target_arch}}
      run: |
        tar -C ./out/${ARTIFACT_NAME}-${TARGET_OS}-${TARGET_ARCH} \
        -cvf ./out/${ARTIFACT_NAME}-v${VERSION}-${TARGET_OS}-${TARGET_ARCH}.tar \
        .
        echo "package_name=${ARTIFACT_NAME}-v${VERSION}-${TARGET_OS}-${TARGET_ARCH}" >> $GITHUB_OUTPUT
        echo "artifact_path=out/${ARTIFACT_NAME}-v${VERSION}-${TARGET_OS}-${TARGET_ARCH}.tar" >> $GITHUB_OUTPUT
    - name: Upload archived Electron game package
      env:
        VERSION: ${{steps.version.outputs.result}}
        TARGET_OS: ${{steps.build_info.outputs.target_os}}
        TARGET_ARCH: ${{steps.build_info.outputs.target_arch}}
      uses: actions/upload-artifact@v3
      with:
        name: ${{steps.create_archive.outputs.package_name}}
        path: ${{steps.create_archive.outputs.artifact_path}}
        if-no-files-found: error
